.home-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

input::placeholder {
    color: #bbb;
}

.book-card {
    transition: all 0.3s ease;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.details-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s;
}

.details-button:hover {
    background-color: #45a049;
}
